In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('income_db_gorg.csv')

In [10]:
len(df.columns)

19

In [11]:
df.head()

        id  State_Code State_Name State_ab  ...   Mean Median  Stdev        sum_w
0  1011000           1    Alabama       AL  ...  38773  30506  33101  1638.260513
1  1011010           1    Alabama       AL  ...  37725  19528  43789   258.017685
2  1011020           1    Alabama       AL  ...  54606  31930  57348   926.031000
3  1011030           1    Alabama       AL  ...  63919  52814  47707   378.114619
4  1011040           1    Alabama       AL  ...  77948  67225  54270   282.320328

[5 rows x 19 columns]